{% load static %}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.bg-dark {
  background-color: black !important;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

.planes-image {
  /*display: flex;*/
  background-image: url("/static/eaglenest/images/planes.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90%;
  width: 100%;
  opacity: 0.3;
  top: 200;
  left: 200;
  position: absolute;
}

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/**
 * TCI Detail
 */
#tci-form-container {
  padding: 0;
}

#tci-form {
  border: 1px solid lightgray;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 2px;
}


/**
 * Footer
 */
 footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.125);
  font-size: 12px;
  color: gray;
  padding: 10px;
  z-index: 999;
 }