{% extends "base.html" %}


{% block style %}
    <style>
        h2.anchor-about {display: block; position: relative; top: -250px; visibility: hidden;}
    </style>
{% endblock %}


{% block topnav %}
    <nav id="navigation-blog" class="navbar navbar-default navbar-fixed-top" role="navigation">
{% endblock %}


{% block content %}
<div class="spacer" style="height:60px"></div>
<div class="container blog padding-small">
    <div class="row">
        <div class="col-md-3">
            <div class="spacer" style="height:15px"></div>
            <div class="list-group">
              <a href="#job1" class="list-group-item">Front End Web Developer</a>
              <a href="#job2" class="list-group-item">Back End Web Developer</a>
            </div>
        </div>
        <div class="col-md-9">
            <h5 id="ciheul" class="anchor-about">Do Cool Things That Matter</h5>
            <p>Ciheul Engineering is and always will be an engineering company. We hire people, both young and veteran, who dares to tackle some of technology's greatest challenges. At Ciheul, engineers not only propose innovative idea and make it happens for our clients, but also have fun with the co-workers.</p>
            <p>If you are interested for solving engineering problem, please send email to <strong><a href="mailto:winnuayi@ciheul.com">winnuayi@ciheul.com</a></strong></p>
            <hr>

            <div style="color:lightgrey">
              <h6 id="job2" class="anchor-about">Software Engineer - Web [CLOSED - 14 APRIL 2016]</h6>
              <div class="spacer" style="height:10px"></div>
              <p><strong>Responsibilites</strong></p>
              <ul>
                <li>Design, redesign, and integrate backend web with frontend web.</li>
                <li>Testing and maintaining code.</li>
              </ul>
              <p><strong>Qualifications</strong></p>
              <ul>
                <li>Fresh graduate on Computer Science, Computer Engineering, or Informatics.</li>
                <li><strong>Love to learn.</strong></li>
                <li>Interest in web engineering.</li>
              </ul>

              <p><strong>Preferred</strong></p>
              <ul>
                <li>Experience in one of these languages, PHP/Python/Ruby.</li>
                <li>Experience in one of these databases, MySQL/PostgreSQL.</li>
              </ul>
            </div>

            <hr>

            <div style="color:lightgrey">
              <h6 id="job2" class="anchor-about">Software Engineer - Back End [CLOSED - 1 FEBRUARI 2016]</h6>
              <div class="spacer" style="height:10px"></div>
              <p><strong>Responsibilites</strong></p>
              <ul>
                <li>Design, redesign, and implement system for distributed system and backend web on the server-side.</li>
                <li>Testing and maintaining server-side code.</li>
              </ul>
              <p><strong>Qualifications</strong></p>
              <ul>
                <li>Fresh graduate on Computer Science, Computer Engineering, or Informatics.</li>
                <li><strong>Love to learn.</strong></li>
                <li>Interest in distributed system and back-end system.</li>
              </ul>

              <p><strong>Preferred</strong></p>
              <ul>
                <li>Experience in PHP/Python/Java.</li>
                <li>Experience in MySQL/PostgreSQL.</li>
                <li>Interest to learn Akka, Spring, Hibernate, Netty, Protocol Buffer, Apache Thrift, Tornado.</li>
              </ul>
            </div>

            <hr>

            <div style="color:lightgrey">
              <h6 id="job2" class="anchor-about">Software Engineer - Back End [CLOSED - 6 OCTOBER 2015]</h6>
              <div class="spacer" style="height:10px"></div>
              <p><strong>Responsibilites</strong></p>
              <ul>
                <li>Design, redesign, and implement system for distributed system and backend web on the server-side.</li>
                <li>Testing and maintaining server-side code.</li>
              </ul>
              <p><strong>Qualifications</strong></p>
              <ul>
                <li>Fresh graduate on Computer Science, Computer Engineering, or Informatics.</li>
                <li><strong>Love to learn.</strong></li>
                <li>Interest in distributed system and back-end system.</li>
              </ul>

              <p><strong>Preferred</strong></p>
              <ul>
                <li>Experience in PHP/Python/Java.</li>
                <li>Experience in MySQL/PostgreSQL.</li>
                <li>Interest to learn Akka, Spring, Hibernate, Netty, Protocol Buffer, Apache Thrift, Tornado.</li>
              </ul>
            </div>

            <hr>

            <div style="color:lightgrey">
            <h6 id="job1" class="anchor-about">Web Developer - Front End [CLOSED - 1 APRIL 2015]</h6>
            <div class="spacer" style="height:10px"></div>
            <p><strong>Responsibilites</strong></p>
            <ul>
              <li>Design, redesign, and implement User Interface on web with a focus on the client-side.</li>
              <li>Testing and maintaing client-side code.</li>
            </ul>
            <p><strong>Qualifications</strong></p>
            <ul>
              <li>Fresh graduate on Computer Science, Informatics, Visual Design Communication, or related field.</li>
              <li>Experience in HTML, CSS, Javascript (and AJAX).</li>
              <li>Experience in PHP/Python.</li>
              <li>Interest in user interface design.</li>
            </ul>
            </div>

            <hr>

            <div style="color:lightgrey">
            <h6 id="job2" class="anchor-about">Software Engineer - Back End [CLOSED - 10 Nov 2014]</h6>
            <div class="spacer" style="height:10px"></div>
            <p><strong>Responsibilites</strong></p>
            <ul>
              <li>Design, redesign, and implement system for web on the server-side.</li>
              <li>Testing and maintaining server-side code.</li>
            </ul>
            <p><strong>Qualifications</strong></p>
            <ul>
              <li>Fresh graduate on Computer Science, Computer Engineering, or Informatics.</li>
              <li>Experience in PHP/Python/Java.</li>
              <li>Experience in MySQL/PostgreSQL.</li>
              <li>Interest in back-end system.</li>
            </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
