{% extends 'eaglenest/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/eaglenest/component/tci/">TCI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OC</a>
        </li>            
        </li>
      </ul>          
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb" style="background-color: white">
          <li class="breadcrumb-item"><a href="/eaglenest/component/tci/">TCI</a></li>
          <li class="breadcrumb-item active" aria-current="page">Yaw Dumper</li>
        </ol>
      </nav>

      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-2">    
          <div class="card" style="width: 10rem; margin-bottom: 50px">
            <div class="card-body">                
              <p class="card-text">
                <img src="{% static '/eaglenest/images/yaw-dumper.png' %}" />
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">    
          <div class="card" style="width: 20rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="float-left"><strong>PN</strong></div>
                <div class="float-right">10-60447-13</div>
              </li>
              <li class="list-group-item">
                <div class="float-left"><strong>SN</strong></div>
                <div class="float-right">431</div>
              </li>
              <li class="list-group-item">
                <div class="float-left"><strong>LIFE TIME</strong></div>
                <div class="float-right">5000</div>
              </li>
              <li class="list-group-item">
                <div class="float-left"><strong>HAR YAD</strong></div>
                <div class="float-right">OH</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr style="margin-bottom: 25px;">

      <button id="tci-add-btn" type="submit" class="btn btn-primary" style="margin-bottom: 20px">Tambah</button>
      <button id="tci-cancel-btn" type="submit" class="btn btn-default" style="margin-bottom: 20px">Batal</button>

      <div id="tci-form-container" class="col-md-6"></div>

      <div class="table-responsive">        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>NO</th>
              <th>INSTALL</th>
              <th>REMOVE</th>
              <th>POSISI</th>
              <th>TSN</th>
              <th>SISA</th>
              <th>REASON</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>22 NOV 2017</td>
              <td>-</td>
              <td>AI-7303</td>
              <td style="text-align: right">0</td>
              <td style="text-align: right">5000</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td>14 JAN 2022</td>
              <td>-</td>
              <td style="text-align: right">4980</td>
              <td style="text-align: right">20</td>
              <td>DUE TO OH</td>
            </tr>
            <tr>
              <td>3</td>
              <td>07 SEP 2024</td>
              <td>-</td>
              <td>AI-7302</td>
              <td style="text-align: right">0</td>
              <td style="text-align: right">5000</td>
              <td></td>
            </tr>            
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<div style="margin-bottom: 40px"></div>
{% endblock %}

{% block javascript %}
<script type="text/template" id="tci-form-template">  
  <div id="tci-form">
    <form>      

      <div class="form-group row">
        <label for="example-text-input" class="col-5 col-form-label">Tail Number Pesawat</label>
        <div class="col-7">
          <input class="form-control" type="text" value="" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-5 col-form-label">Total Jam Terbang</label>
        <div class="col-7">
          <input class="form-control" type="text" value="" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-5 col-form-label">Total Cycle</label>
        <div class="col-7">
          <input class="form-control" type="text" value="" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-5 col-form-label">Total Landing</label>
        <div class="col-7">
          <input class="form-control" type="text" value="" id="example-text-input">
        </div>
      </div>

      <div style="margin-bottom: 40px"></div>

      <div class="form-group row">
        <div class="col-sm-12">        
          <!-- <button type="submit" class="btn btn-default">Batal</button> -->
          <button type="submit" class="btn btn-primary float-right">Tambah</button>
        </div>
      </div>
    </form>
  </div>
</script>

<script type="text/javascript">
  $('#tci-cancel-btn').hide();

  $('#tci-add-btn').click(function() {
    var template = $('#tci-form-template').html();  
    $('#tci-form-container').append(template);

    $('#tci-add-btn').hide();
    $('#tci-cancel-btn').show();
  });

  $('#tci-cancel-btn').click(function() {
    $('#tci-form-container').empty();
    
    $('#tci-cancel-btn').hide();
    $('#tci-add-btn').show();
  });
</script>
{% endblock %}