{% extends 'eaglenest/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/eaglenest/component/tci/">TCI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OC</a>
        </li>            
        </li>
      </ul>          
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb" style="background-color: white">
          <li class="breadcrumb-item"><a href="/eaglenest/component/tci/">TCI</a></li>
          <li class="breadcrumb-item active" aria-current="page">Yaw Dumper</li>
        </ol>
      </nav>

      <div class="row" style="margin-bottom: 50px">
        <div class="col-md-2">    
          <div class="card" style="width: 10rem; margin-bottom: 50px">
            <div class="card-body">                
              <p class="card-text">
                <img src="{% static '/eaglenest/images/yaw-dumper.png' %}" />
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">    
          <div class="card" style="width: 20rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="float-left"><strong>PN</strong></div>
                <div class="float-right">10-60447-13</div>
              </li>
              <li class="list-group-item">
                <div class="float-left"><strong>SN</strong></div>
                <div class="float-right">431</div>
              </li>
              <li class="list-group-item">
                <div class="float-left"><strong>LIFE TIME</strong></div>
                <div class="float-right">5000</div>
              </li>
              <li class="list-group-item">
                <div class="float-left"><strong>HAR YAD</strong></div>
                <div class="float-right">OH</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="table-responsive">        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>NO</th>
              <th>INSTALL</th>
              <th>REMOVE</th>
              <th>POSISI</th>
              <th>TSN</th>
              <th>SISA</th>
              <th>REASON</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>22 NOV 2017</td>
              <td>-</td>
              <td>AI-7303</td>
              <td style="text-align: right">0</td>
              <td style="text-align: right">5000</td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td>14 JAN 2022</td>
              <td>-</td>
              <td style="text-align: right">4980</td>
              <td style="text-align: right">20</td>
              <td>DUE TO OH</td>
            </tr>
            <tr>
              <td>3</td>
              <td>07 SEP 2024</td>
              <td>-</td>
              <td>AI-7302</td>
              <td style="text-align: right">0</td>
              <td style="text-align: right">5000</td>
              <td></td>
            </tr>            
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock %}