{% extends 'eaglenest/base.html' %}

{% load static %}

{% block content %}
<div class="planes-image"></div>

<div class="container-fluid">
  <div class="row flex-nowrap">    
    <main role="main" class="col-sm-12 pt-4">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">1</h4>          
          <a href="/eaglenest/component/tci/" class="card-link">Check Up Komponen</a>
        </div>
      </div>
    </main>      
  </div>
</div>

<footer class="bg-light">SEKKAU 102 | LOYAL - SMART - BRAVE</footer>

{% endblock %}